@font-face {
  font-family: 'Gilroy-extrabold';
  src: url('../assets/gilroyextrabold.woff2') format('woff2'),
       url('../assets/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face{
  font-family: 'Gilroy-light';
  src: url('../assets/gilroylight.woff2') format('woff2'),
       url('../assets/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: 'OpenSans';
  src: url('../assets/opensans.woff2') format('woff2'),
       url('../assets/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'OpenSans-light';
  src: url('../assets/opensanslight.woff2') format('woff2'),
       url('../assets/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  min-height: 1795px;

  font-family: 'Gilroy-extrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-weight: 800;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  width: 170px;
  height: 40px;
  padding: 0;
  margin: 0;
  opacity: 1;
}

.logo:hover,
.logo:focus {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.header {
  padding: 0px;
  padding-top: 40px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 60px;

  background-color: rgba(240, 197, 46, 0.5);
}

.main-navigation a {
  color: rgb(0, 0, 0);
}

.main-navigation > img {
  width: 163px;
  height: 36px;
  margin-top: -19px;
  margin-bottom: 20px;
}


.main-navigation .logo {
  margin-top: -19px;
  margin-bottom: 20px;
}

.header-user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.catalog-body .header-user-wrapper {
  margin-bottom: 21px;
}

.search-form {
  width: 440px;
  height: 50px;
  margin-right: 100px;
}

.search-form p {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin: 0;

  background-image: url('../img/search.svg');
  background-position: 3px 15px;
  background-repeat: no-repeat;
}

.search {
  width:100%;
  padding: 7px 0;
  padding-left: 40px;
  position: relative;

  font-family: 'OpenSans-light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.search::-webkit-search-cancel-button{
  display: none; /* hides standard [x] icon in search input*/
}

.search::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.3;
}

.search:-ms-input-placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.3;
}

.search::-ms-input-placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.3;
}

.search::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.3;
}

.search:hover::-webkit-input-placeholder,
.search:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0);
  opacity: 0.6;
}

.search:hover:-ms-input-placeholder,
.search:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0);
  opacity: 0.6;
}

.search:hover::-ms-input-placeholder,
.search:focus::-ms-input-placeholder {
  color: rgba(0, 0, 0);
  opacity: 0.6;
}

.search:hover::placeholder,
.search:focus::placeholder {
  color: rgba(0, 0, 0);
  opacity: 0.6;
}

.search:focus {
  outline: none;

  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.search:focus + .search-btn {
  display: block;
}

.search-btn {
  display: none;
  padding: 7px 20px;

  font-family: 'OpenSans-light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;

  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
}

.search-btn:hover,
.search-btn:focus {
  display: block;
  color: rgb(255, 255, 255);

  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.search-btn:active {
  display: block;
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.user,
.shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  font-family: 'OpenSans-light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.user {
  width: 225px;
}

.shopping {
  margin-left: auto;
  width: 220px;
}

.user,
.shopping,
.information {
  list-style: none;
}

.user li,
.shopping li {
  padding-top: 6px;
}

.user-catalog li,
.shopping-catalog li {
  padding-top: 0px;
}

.user .navigation-item,
.shopping .navigation-item {
  position: relative;
  padding-left: 27px;
}

.user-login::before {
  content: '';
  position: absolute;
  bottom:3px;
  left: 0;
  width: 13px;
  height: 13px;

  background-image: url('../img/user.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-item.user-logout {
  opacity: 0.3;
  padding-left: 0px;
}

.shopping-compare::before {
  content: '';
  position: absolute;
  bottom:1px;
  left: 7px;
  width: 13px;
  height: 13px;

  background-image: url('../img/compare.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.shopping-cart::before {
  content: '';
  position: absolute;
  bottom:3px;
  left: 4px;
  width: 13px;
  height: 13px;

  background-image: url('../img/cart.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-interaction .navigation-item:hover::before,
.user-interaction .navigation-item:focus::before,
.shopping-item .navigation-item:hover::before,
.shopping-item .navigation-item:focus::before {
  opacity: 0.6;
}

.user-interaction .navigation-item:active::before,
.shopping-item .navigation-item:active::before {
  opacity: 0.3;
}

.header-conditions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

.catalog-body .header-conditions-wrapper {
  margin-bottom: 50px;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  width: 500px;
}

.goods-catalog,
.information-card {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.information-card:not(:last-child) {
  margin-right: 35px;
}

.information-card.info-contacts {
  margin-right: 0px;
  margin-left: auto;
}

.goods-catalog {
  position: relative;
  padding-right: 30px;
}

.goods-catalog::before {
  content: "";
  position: absolute;
  right: 3px;
  top: 3px;
  width: 16px;
  height: 16px;

  background-image: url('../img/plus.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-goods-wrapper {
  position: relative;
}

.header-goods-wrapper:hover .goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* .header-goods-wrapper .goods-catalog:focus + .goods-list {
  display: flex;
} */

.goods-list {
  width: 1160px;
  position: absolute;
  display: none;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 35px;
  margin-left: -60px;
  z-index: 2;

  background: rgb(247, 226, 150);
  /* background: powderblue; */
}

.goods-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 60px;

  font-family: 'OpenSans-light', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
}

.navigation-item:hover,
.navigation-item:focus,
.goods-item:hover,
.goods-item:focus {
  color: rgba(0, 0, 0, 0.6);
}

.navigation-item:active,
.goods-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.primary-button {
  width: 220px;
  margin: 0;
  margin-right: auto;
  padding: 15px 42px;

  font-family: 'Gilroy-extrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(0, 0, 0);

  background: -webkit-gradient(linear, left top, left bottom, from(transparent) , color-stop(42%, transparent),
                                         color-stop(42%, rgb(240, 197, 46)), color-stop(58%, rgb(240, 197, 46)),
                                         color-stop(58%, transparent) , to(transparent));

  background: -webkit-linear-gradient(top, transparent , transparent 42%,
                                         rgb(240, 197, 46) 42%, rgb(240, 197, 46) 58%,
                                         transparent 58% , transparent 100%);

  background: -o-linear-gradient(top, transparent , transparent 42%,
                                         rgb(240, 197, 46) 42%, rgb(240, 197, 46) 58%,
                                         transparent 58% , transparent 100%);

  background: linear-gradient(to bottom, transparent , transparent 42%,
                                         rgb(240, 197, 46) 42%, rgb(240, 197, 46) 58%,
                                         transparent 58% , transparent 100%);
  border: none;

  cursor: pointer;
}

.primary-button:hover,
.primary-button:focus {
  background: rgb(240, 197, 46);
}

.primary-button:active {
  background: rgb(240, 197, 46);
  color: rgba(0, 0, 0, 0.3);
}

.new-items.container {
  position: relative;
  margin-bottom: 103px;

  background: -webkit-linear-gradient(top, rgb(247, 226, 150), rgb(247, 226, 150) 118px,
                                         rgb(255, 255, 255) 118px , rgb(255, 255, 255) 100%);

  background: -o-linear-gradient(top, rgb(247, 226, 150), rgb(247, 226, 150) 118px,
                                         rgb(255, 255, 255) 118px , rgb(255, 255, 255) 100%);

  background: linear-gradient(to bottom, rgb(247, 226, 150), rgb(247, 226, 150) 118px,
                                         rgb(255, 255, 255) 118px , rgb(255, 255, 255) 100%);
}

.new-items-radio {
  position: absolute;
  bottom: 139px;
  right: 83px;
  z-index: 20;
}

.radio-new-label {
  position: relative;
  margin-left: 16px;
  display: inline-block;
  vertical-align: top;

  width: 12px;
  height: 12px;

  background-image: url('../img/slider-button-empty.svg');
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;

  opacity: 1;

  cursor: pointer;
}

.new-item-1:checked ~ .new-items-radio .radio-new-label:nth-child(1),
.new-item-2:checked ~ .new-items-radio .radio-new-label:nth-child(2),
.new-item-3:checked ~ .new-items-radio .radio-new-label:nth-child(3) {
  background-image: url('../img/slider-button.svg');
}

.radio-new-label:hover,
.radio-new-label:focus {
  opacity: 0.6;
}

.new-items-slider-list {
  margin: 0;
  padding: 0;
}

.new-item {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new-item-1:checked ~ .new-items-slider-list .new-item:nth-child(1),
.new-item-2:checked ~ .new-items-slider-list .new-item:nth-child(2),
.new-item-3:checked ~ .new-items-slider-list .new-item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-item-image {
  margin-left: 20px;
}

.new-item-info-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 560px;
  padding-top: 40px;
}

.new-item-info-wrapper::before {
  content: '';
  position: absolute;
  top: 45px;
  left: 0px;
  width: 100px;
  height: 5px;
  background-color: rgb(255, 255, 255);
}

.new-item-info-wrapper::after {
  content: attr(data-number);
  position: absolute;
  top: -8px;
  right: 45px;

  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.01em;
  font-weight: 800;

  color: rgb(255, 255, 255);
}

.new-item-info-wrapper .primary-button {
  margin-bottom: 40px;
}

.new-item-title {
  margin-bottom: 21px;
  z-index: 1;

  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
  font-weight: 800;
}

.new-item-body {
  width: 490px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 35px;

  font-family: 'OpenSans-light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  font-weight: 300;
}

.new-item-benefits {
  display: block;
  margin: 0px;
  border-spacing: 0 2px;
}

.benefits-value td{
  padding: 0px;
  border-right: 76px solid transparent;
  border-bottom: 6px solid transparent;

  font-family: 'Gilroy-light', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.benefits-key td {
  padding: 0px;

  font-family: 'OpenSans-light', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.popular {
  margin-bottom: 63px;
}

.popular-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.popular-item {
  max-width: 160px;

  cursor: pointer;
}

.popular-item a {
  pointer-events: none; /*for IE11*/
  color: rgb(0, 0, 0);
}

.popular-item-image-cont {
  position: relative;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;

  background-color: rgba(240, 197, 46, 0.5);
}

.popular-item-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.popular-item-image.popular-monos {
  top: auto;
  bottom: 2px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popular-item:hover .popular-item-image-cont,
.popular-item:focus .popular-item-image-cont {
  background-color: rgba(240, 197, 46, 1);
}

.popular-item:active .popular-item-image-cont {
  background-color: rgba(240, 197, 46, 1);
}

.popular-item:active .popular-item-image {
  opacity: 0.3;
}

.popular-item:active .popular-item-title {
  opacity: 0.3;
}

.service {
  margin-bottom: 93px;

  background: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255) 100px,
                                         rgb(229, 229, 229) 100px , rgb(229, 229, 229) 100%);

  background: -o-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255) 100px,
                                         rgb(229, 229, 229) 100px , rgb(229, 229, 229) 100%);

  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255) 100px,
                                         rgb(229, 229, 229) 100px , rgb(229, 229, 229) 100%);
}

.service .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;

}

.service-descriptions {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.service-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 44px;
  width: 285px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 8px solid rgb(0, 0, 0);
}

.service-button {
  width: 160px;
  padding: 8px 20px;
  margin-bottom: 25px;

  text-align: center;
}

.service-button.selected {
  width: 100%;
  padding-right: 135px;
  background: rgb(0, 0, 0);
  color: rgb(247, 225, 132);
}

.service-button:active {
  background: rgb(0, 0, 0);
  color: rgb(247, 225, 132);
}

.service-card {
  position: relative;
  display: none;
  margin: 73px 115px;
}

.service-card.selected {
  display: block;
}

.service-card-delivery::after {
  content: '';
  position: absolute;
  right: -49px;
  top: 12px;
  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-card-guarantee::after {
  content: '';
  position: absolute;
  right: -69px;
  top: -11px;
  width: 171px;
  height: 195px;

  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.service-card-credit::after {
  content: '';
  position: absolute;
  right: -45px;
  top: -12px;
  width: 156px;
  height: 188px;

  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.service-card-title {
  margin: 0;
  margin-bottom: 33px;

  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.02em;
}

.service-card-body {
  width: 445px;
}

.service-card-body,
.about-body,
.contacts-body {
  font-family: 'OpenSans-light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.brands {
  margin-bottom: 90px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  list-style: none;
}

.brand-logo {
  position: relative;
}

.brand-logo img {
  opacity: 0.2;
}

.brand-logo img:hover,
.brand-logo img:focus {
  opacity: 0;
}

.brand-logo-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width:260px;
  height: 100px;

  background-image: url('../img/partner-logo-1-colored.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0;
}

.brand-logo-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width:260px;
  height: 100px;

  background-image: url('../img/partner-logo-2-colored.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0;
}

.brand-logo-3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width:260px;
  height: 100px;

  background-image: url('../img/partner-logo-3-colored.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0;
}

.brand-logo-4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width:260px;
  height: 100px;

  background-image: url('../img/partner-logo-4-colored.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0;
}

.brand-logo:hover::before,
.brand-logo:focus::before {
  opacity: 1;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 74px;
}

.about-us,
.contacts {
 position: relative;
 padding-top: 50px;
}

.about-us {
  width: 505px;
}

.contacts {
  width: 560px;
}

.about-us::before,
.contacts::before {
  content: '';
  position: absolute;
  top: -3px;
  left:0px;
  width: 80px;
  height: 7px;
  background-color: rgb(0, 0, 0);
}

.about-title,
.contacts-title {
  margin: 0;
  margin-bottom: 43px;

  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
  font-weight: 800;
}

.about-body {
  width: 485px;
  margin-bottom: 30px;
}

.transport-companies {
  margin: 65px 0;
  margin-bottom: 48px;
  padding: 0 35px;

  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0;

  list-style: none;
}

.transport-companies li {
  position: relative;
}

.transport-companies li::before {
  content: '';
  position: absolute;
  top: 11px;
  left: -39px;
  width: 18px;
  height: 18px;

  background-image: url('../img/slider-button-small.svg');
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.1;
}

.contacts-body {
  margin-bottom: 40px;
}

.contacts .primary-button {
  width: 260px;
  margin-top: 55px;
  padding-right: 35px;
}

.about-us .primary-button {
  width: 265px;
  padding: 15px 23px;
}

.footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 60px;

  background-color: rgb(70, 70, 70);
  color: rgb(255, 255, 255);
}

.footer .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container::before {
  content: '';
  position: absolute;
  bottom: 19px;
  left: 0px;
  width: 80px;
  height: 7px;
  background-color: rgb(255, 198, 0);
}

.footer a {
  color: rgb(255, 255, 255);
}

.footer-logo-user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo-user-wrapper > img {
  width: 163px;
  height: 36px;
}

.catalog-footer-logo {
  padding-top: 15px;
}

.catalog-body .footer-logo-user-wrapper {
  margin-bottom: 20px;
}

.footer-user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-user,
.footer-shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 10px;

  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
}

.footer-user {
  width: 252px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 35px;
}

.footer-user .user-login::before {
  content: '';
  position: absolute;
  bottom:3px;
  left: 0;
  width: 13px;
  height: 13px;

  background-image: url('../img/user-colored.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-shopping .shopping-compare::before {
  content: '';
  position: absolute;
  bottom:1px;
  left: 7px;
  width: 13px;
  height: 13px;

  background-image: url('../img/compare-colored.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-shopping .shopping-cart::before {
  content: '';
  position: absolute;
  bottom:3px;
  left: 4px;
  width: 13px;
  height: 13px;

  background-image: url('../img/cart-colored.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer .user-interaction,
.footer .shopping-item {
  position: relative;
  padding-left: 27px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user .user-logout {
  padding-left: 20px;
}

.footer-shopping {
  width: 220px;
}

.footer-user li,
.footer-shopping li {
  padding: 0px;
}

.footer-conditions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 47px;
}

.footer-social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  width: 660px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 165px;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  list-style: none;
  margin: 0;
  padding: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;

  background-image: url('../img/facebook.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.social-button.instagram {
  background-image: url('../img/instagram.svg');
}

.social-button.twitter {
  background-image: url('../img/twitter.svg');
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.adress {
  width: 205px;
}

.phone-number {
  width: 165;
}

.adress,
.phone-number {
  font-family: 'OpenSans-light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0em;
}

.footer .user-interaction:hover,
.footer .user-interaction:focus,
.footer .shopping-item:hover,
.footer .shopping-item:focus {
  color: rgba(255, 255, 255, 1);
}

.footer .user-interaction:active,
.footer .shopping-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer .navigation-item:hover,
.footer .navigation-item:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer .navigation-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer .information {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding: 0px;
  width: 470px;
}

.footer .information-card {
  padding-top: 5px;
}

.html-logo {
  opacity: 1;
}

.html-logo:hover,
.html-logo:focus {
  opacity: 0.6;
}

.html-logo:active {
  opacity: 0.3;
}

.write-us-form {
  letter-spacing: 0;
}

.write-us-form input,
.write-us-form textarea {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 400;
  color: rgb(70, 70, 70);

  background-color: rgba(230, 230, 230, 0.5);
}

.write-us-form input::-webkit-input-placeholder,
.write-us-form textarea::-webkit-input-placeholder {
  opacity: 0.4;
}

.write-us-form input:-ms-input-placeholder,
.write-us-form textarea:-ms-input-placeholder {
  opacity: 0.4;
}

.write-us-form input::-ms-input-placeholder,
.write-us-form textarea::-ms-input-placeholder {
  opacity: 0.4;
}

.write-us-form input::placeholder,
.write-us-form textarea::placeholder {
  opacity: 0.4;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  background-color: rgb(255, 255, 255);
}

.write-us-form input:invalid,
.write-us-form textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.page-title {
  padding: 0 60px;
  margin: 0;
  margin-top: 38px;
  margin-bottom: 24px;

  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
  font-weight: 800;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 46px;

  font-family: 'OpenSans-light', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);

  list-style: none;
}

.breadcrumbs a {
  margin-right: 35px;
  position: relative;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a::after {
  content: '';
  position: absolute;
  top: 5px;
  right: -20px;
  width: 5px;
  height: 8px;

  background-image: url('../img/nav-arrow.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.main-catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-bottom: 5px;
  /* background: rgb(239, 239, 239); */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08) 70px,
                                         rgb(255, 255, 255) 70px , rgb(255, 255, 255) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08) 70px,
                                         rgb(255, 255, 255) 70px , rgb(255, 255, 255) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08) 70px,
                                         rgb(255, 255, 255) 70px , rgb(255, 255, 255) 100%);
}

.main-catalog-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting-catalog-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 72px;
}

.filters-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.08);
}

.filters {
  width: 328px;
  margin-left: auto;
  padding: 0 60px;
}

.filter-form .primary-button {
  width: 200px;
  padding: 15px 40px;
}

.filter-form fieldset {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  border: none;
}

.filter-form .filter-bluetooth {
  margin-bottom: 17px;
}

.filter-form fieldset::before {
  content: '';
  position: absolute;
  top: -12px;
  left: 0;
  width: 201px;
  height: 2px;
  background-color: rgb(0, 0, 0);
}

.range-controls {
  position: relative;
  height: 44px;
  margin-right: 7px;
  padding-top: 34px;
}

.range-controls .scale {
  height: 2px;

  background: rgb(219, 219, 219);
}

.range-controls .bar {
  width: 58%;
  height: 2px;

  background: rgb(145, 201, 47);
}

.range-controls .toggle {
  position: absolute;
  top: 24px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  border: 8px solid rgb(255, 255, 255);
  background-color: rgb(171, 171, 171);
  -webkit-box-shadow: 0 2px 1px 0 rgb(218, 218, 218);
          box-shadow: 0 2px 1px 0 rgb(218, 218, 218);
  border-radius: 50%;

  cursor: pointer;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
  width: 22px;
  height: 22px;

  border: 9px solid rgb(255, 255, 255);
}

.range-controls .toggle-min {
  left: -4px;
}

.range-controls .toggle-max {
  left: 108px;
}

.price-controls {
  margin-bottom: 11px;
}

.price-controls span {
  display: inline-block;
  width: 41%;

  vertical-align: top;

  font-family: 'Gilroy-light', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.filter-legend {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 800;
}

.sorting-catalog {
  width:835px;
  margin-right: auto;
  padding-left: 74px;
}

.filter-title {
  margin-bottom: 105px;
}

.filter-title,
.sorting-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.23em;
  font-weight: 800;
  text-transform: uppercase;
}

.filter-color ul,
.filter-bluetooth ul {
  padding: 0 14px;
  margin-bottom: 8px;
  margin-top: 18px;

  font-family: 'OpenSans-light', Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);

  list-style: none;
}

.checkbox-color-label,
.checkbox-bluetooth-label {
  position: relative;
  padding-left: 25px;

  cursor: pointer;
}

.checkbox-color-label input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: -15px;

  width: 26px;
  height: 24px;

  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.checkbox-color-label input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox-color-label input[type="checkbox"]:hover + .checkbox-indicator,
.checkbox-color-label input[type="checkbox"]:focus + .checkbox-indicator,
.checkbox-bluetooth-label input[type="radio"]:hover + .checkbox-indicator,
.checkbox-bluetooth-label input[type="radio"]:focus + .checkbox-indicator {
  opacity: 0.6;
}

.checkbox-color-label input[type="checkbox"]:disabled + .checkbox-indicator,
.checkbox-bluetooth-label input[type="radio"]:disabled + .checkbox-indicator {
  opacity: 0.2;
}

.checkbox-bluetooth-label input[type="radio"] + .checkbox-indicator {
  position: absolute;
  top: -4px;
  left: -15px;

  width: 26px;
  height: 26px;

  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.checkbox-bluetooth-label input[type="radio"]:checked + .checkbox-indicator {
  background-image: url('../img/radio-on.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.sorting-title {
  margin-right: 50px;
}

.sorting ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  -ms-flex-item-align: center;
      align-self: center;

  font-family: 'OpenSans-light', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  font-weight: 300;

  list-style: none;
}

.sort-types {
  width: 285px;
}

.sorting .sort-rules {
  margin-left: auto;
  width: 43px;
}

.sorting a {
  opacity: 0.3;
  color: rgb(0, 0, 0);
}

.order-ascending,
.order-descending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 13px;
  height: 13px;
}

.order-ascending {
  background-image: url('../img/icon-down-dir.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.order-descending {
  background-image: url('../img/icon-up-dir.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.selected .sort-type,
.selected .sort-order,
.sort-order:active,
.sort-type:active {
  opacity: 1;
}

.sort-type:hover,
.sort-type:focus,
.sort-order:hover,
.sort-order:focus {
  opacity: 0.6;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 18px;
  margin-top: 10px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0px;
}

.catalog-item .item-title {
  color:rgb(0, 0, 0);
}

.catalog-item .item-price {
  width: 100px;

  font-family: 'OpenSans-light', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: rgb(70, 70, 70);
  text-align: right;
}

.catalog-item img {
  margin-bottom: 8px;
}

.catalog-item .item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-item:hover .item-additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-additional {
  content: '';
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 166px;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7);
}

.item-additional .primary-button {
  width: 203px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 15px 37px;
}

.compare-button {
  width: 145px; /* for IE11: margin-auto not working without width*/
  margin: 0 auto;
  font-family: 'OpenSans-light', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.compare-button:hover,
.compare-button:focus {
  color: rgba(0, 0, 0, 1);
}

.compare-button:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-button,
.pagination-item a {
  font-family: 'Gilroy-extrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: rgb(0, 0, 0);
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

.pagination-button {
  padding: 23px 30px;
}

.pagination-button:hover,
.pagination-button:focus {
background-color: rgba(0, 0, 0, 0.08);
}

.pagination-button:active {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 30px;
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item.selected a {
  color: rgba(0, 0, 0, 1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);

  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.modal-map {
  line-height: 0;
  display: none;
}

.modal-form-write-us {
  width: 960px;
  padding: 85px 100px;

  display: none;
  /* display: flex; */
  /* flex-direction: column; */
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 58px;
  height: 58px;

  font-size: 0;

  background-color: transparent;
  background-image: url('../img/modal-close.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  opacity: 0.5;

  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.write-us-form label {
  display: block;
  width: 360px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 800px;
  letter-spacing: 0;
}

.write-us-user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.write-us-user-wrapper p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 360px;
  padding: 0;
  margin: 10px 0;
}


.write-us-user-wrapper .form-user-name {
  margin-right: 40px;
}


.write-us-form input[type='text'],
.write-us-form input[type='email'] {
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 20px;
  border: none;
  background-color: rgba(229, 229, 229, 0.5);
}


.write-us-form input[type='text']:hover,
.write-us-form input[type='email']:hover,
.write-us-form textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.write-us-form input[type='text']:focus,
.write-us-form input[type='email']:focus,
.write-us-form textarea:focus {
  background-color: rgb(255, 255, 255);
  outline: 3px solid rgba(240, 197, 46, 0.5);
}

.write-us-form textarea {
  width: 760px;
  height: 155px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 20px;
  border: none;
  background-color: rgba(229, 229, 229, 0.5);
}

.form-user-letter {
  margin-bottom: 30px;
}